{% load static %}

{% verbatim %}
<div class="category">
  <div class="container">
    <div class="category-item-container has-scrollbar">
      <div v-for="(category, index) in categories" class="category-item">
        <div class="category-img-box">
          <img
            :src= category.img
            alt= category.name
            width="30"
          />
        </div>

        <div class="category-content-box">
          <div class="category-content-flex">
            <h3 class="category-item-title">{{ category.title }}</h3>

            <p class="category-item-amount">({{ category.item_amount }})</p>
          </div>

          <a href="#" class="category-btn">Show all</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
