<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>Ecommerce Website</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}
    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== HOME ===============-->
      {% block banner %}
      {% include 'home/banner.html' %}
      {% endblock %}

      <!--=============== CATEGORIES ===============-->
      
      {% block categories %}
      {% include 'home/categories.html' %}
      {% endblock %}
      <!--=============== PRODUCTS ===============-->
      
      {% block products %}
      {% include 'home/products.html' %}
      {% endblock %}
      <!--=============== DEALS ===============-->
      
      {% block deals %}
      {% include 'home/deals.html' %}
      {% endblock %}
      <!--=============== NEW ARRIVALS ===============-->
      {% block new_arrivals %}
      {% include 'home/new_arrivals.html' %}
      {% endblock %}

      <!--=============== SHOWCASE ===============-->
      
      {% block showcase %}
      {% include 'home/showcase.html' %}
      {% endblock %}
      <!--=============== NEWSLETTER ===============-->
      {% block newsletter %}
      {% include 'home/newsletter.html' %}
      {% endblock %}
    </main>

    <!--=============== FOOTER ===============-->
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}

    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="/static/js/main.js"></script>
  </body>
</html>
