<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>Ecommerce Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}

    <main class="main" id="app">
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
          <li><a href="index.html" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Login / Register</span></li>
        </ul>
      </section>

      <section class="flex justify-center items-center w-full my-14">
        <div class="register w-1/2">
          <h3 class="section__title">Create an Account</h3>
          <form class="form grid" @submit.prevent="register">
            <input
              v-model="firstName"
              type="text"
              placeholder="First Name"
              class="form__input"
            />
            <input
              v-model="lastName"
              type="text"
              placeholder="Last Name"
              class="form__input"
            />
            <input
              v-model="phone"
              type="text"
              placeholder="Phone Number"
              class="form__input"
            />
            <input
              v-model="email"
              type="email"
              placeholder="Your Email"
              class="form__input"
            />
            <input
              v-model="password"
              type="password"
              placeholder="Your Password"
              class="form__input"
            />
            <input
              v-model="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              class="form__input"
            />
            <div class="form__btn">
              <button class="btn" :disabled="loading">Register</button>
            </div>
          </form>
          <p class="text-center mt-4">
            Already have an account ?
            <a href="login.html" class="text-blue-500 hover:underline">
              Login
            </a>
          </p>
        </div>
      </section>

      {% block newsletter %}
      {% include 'home/newsletter.html' %}
      {% endblock %}
    </main>

    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}

    <script>
      const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/register.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
