{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wishlist section--lg container">
  <div class="table__container">
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock Status</th>
          <th>Action</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</section>

{% endblock %}
{% block extrascripts %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}  
