{% verbatim %}

<section class="categories container section">
  <h3 class="section__title">
    <span>Popular</span>
    Categories
  </h3>
  <div class="categories__container swiper" style="border: 1px solid black; display:flex">
    <div class="swiper-wrapper">
      <a v-for="(category,index) in categories" :key="index" href="shop.html" class="category__item swiper-slide">
        <img :src="category.img" alt="" class="category__img" />
        <h3 class="category__title">{{ category.name }}</h3>
      </a>
    </div>

    <div class="swiper-button-prev">
      <i class="fi fi-rs-angle-left"></i>
    </div>
    <div class="swiper-button-next">
      <i class="fi fi-rs-angle-right"></i>
    </div>
  </div>
</section>
{% endverbatim %}
