{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="flex justify-center items-center w-full my-14">
    <div class="login w-1/2">
      <h3 class="section__title">Login</h3>
      <form class="form grid" @submit.prevent="login">
        <input
          v-model="logId"
          type="text"
          placeholder="Your Email"
          class="form__input"
        />
        <input
          v-model="password"
          type="password"
          placeholder="Your Password"
          class="form__input"
        />
        <a href="forget.html">Forget Password</a>
        <div class="form__btn">
          <button class="btn" :disabled="loading">Login</button>
        </div>
      </form>
      <p class="text-center my-2">
        Create new account ?
        <a href="register.html" class="text-blue-500 hover:underline">
          Sign Up
        </a>
      </p>
    </div>
</section>
{% endblock %}


  {% block extrascripts %}
<script src="{% static 'js/auth.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}